*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
:root{
  --primery-color: #111;
  --secondry-color: #7900FF;
  --pink: #ff0081;
  --light-color: #fff;
  --dark-color: #000;
  --glass-color: rgba(255, 255, 255, 0.1);
  --font-bbh-bartle: "BBH Bartle", sans-serif;
  --font-secondry: "Josefin Sans", sans-serif;
  --font-parisign: "Parisienne", cursive;
  --font-blac-ops: "Black Ops One", system-ui;
  --font-cursive: "Pacifico", cursive;
  --font-oswal: "Oswald", sans-serif;
  --font-dancing: "Dancing Script", cursive;
  --font-bebas-neon: "Bebas Neue", sans-serif;
  --font-bbh-bogle: "BBH Bogle", sans-serif;
  --primery-btn-padding: 10px 40px;
  --secindry-btn-padding: 5px 20px;
  --mini-btn-padding: 2px 8px;
  --primery-radius: 5px;
  --secondry-radius: 10px;
  --over-radius: 30px;
  --card-padding: 10px;
  --page-padding: 30px;
  --normal-padding: 15px;
  --mini-padding: 5px;
  --nav-padding: 5px 20px;
  --blur-filter: 10px
}

html,body{
  width: 100%;
  height: 100%;
}
body{
  background: var(--primery-color);
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--nav-padding);
  border-bottom: 1px solid var(--light-color);
  background: var(--primery-color);
}
nav h3{
  color: var(--secondry-color);
  font-family: var(--font-secondry);
}
nav .menu-box{
  width: 35px;
  height: 25px;
  padding: var(--mini-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
nav .menu-box .menu-i{
  width: 100%;
  height: 20%;
  background: var(--light-color);
  border-radius: 2px;
  transition: 0.5s;

}
.menu-i1.opn{
  transform: rotate(-45deg);
  margin-top: 12px;
  transition: 0.5s;
}
.menu-i2.opn{
  opacity: 0;
  transition: 0.5s;
}
.menu-i3.opn{
  margin-top: -12px;
  transform: rotate(45deg);
  transition: 0.5s;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px 30px;
  gap: 20px;
  background-image: url(/images/Samurai.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 0px 15px var(--secondry-color);
  transform: translateX(-110%);
  transition: 0.5s;
}
.sidebar.open{
  transform: translateX(0%);
  transition: 0.5s;
}
.sidebar a{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: var(--font-oswal);
  border-radius: 30px;
  padding: 10px 40px;
}
.sidebar a:hover{
  background: var(--glass-color);
  backdrop-filter: blur(10px);
}
.sidebar .active{
  color: var(--secondry-color);
}
.sidebar img{
  width: 100px;
  position: absolute;
  bottom: 5%;
  left: 25%;
}
/*==============*/

.page{
  margin-top: 60px;
  width: 100%;
  height: auto;
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  perspective: 1000px;
}
.page h1{
  font-size: 50px;
  font-family: var(--font-oswal);
}
.page .neon-card{
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--secondry-color);
  padding: 30px;
  transition: 0.2s ease;
}
.neon-card form label{
  font-family: var(--font-oswal);
}
.neon-card:hover{
  box-shadow: 0px 0px 15px var(--secondry-color);
  transform: translateZ(30px);
  transition: 0.2s;
}
form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
form input{
  width: 100%;
  height: 40px;
  border: 1px solid var(--secondry-color);
  outline: none;
  padding: 0px 20px;
  border-radius: 10px;
  background: rgba(76, 0, 255, 0.2);
  font-family: var(--font-oswal);
  font-size: 18px;
  margin-bottom: 1rem;
}
form button{
  width: 100%;
  height: 50px;
  color: var(--light-color);
  background: var(--secondry-color);
  border-radius: 30px;
  border: none;
  font-family: var(--font-oswal);
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
